.filterButton {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 7px 30px;
    border-radius: 7px;
    border-color: rgb(126, 194, 94);
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    font-family: "Monaco", sans-serif;
}

