.filterList {
    display: flex;
    gap: 1rem;
    background-color: rgb(191, 225, 174);
    padding: 1rem;
    border-radius: 0.5rem;


}

.filterButton {
    display: flex;
    flex-wrap: wrap;
    /* width: 150px;
    height: 60px; */
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    padding-bottom: 5px;
    border-radius: 7px;
    color: black;
    background-color: rgba(104, 145, 128, 0.5);
    border-color: rgb(126, 194, 94);
    cursor: pointer;
    font-size: 12px;
    font-family: "Monaco", sans-serif;
}

.searchButton {
    width: 90px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 7px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    /* Green */
}

.searchButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}