@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

*/:root {

  --primary-dark: hsl(32, 39%, 59%);
  --primary-light: #a9a284;
}


* {
  /* background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); */

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgba(0,0,0,0.1); */
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(220, 247, 215);
}